*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

/* Remove default link styles */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default table spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* Remove default form element styles */
button, input, select, textarea {
    font: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none;
}

/* Set a consistent base font */
html, body {
    height: 100%;
    line-height: 1.5;
}
