@media (max-width: 1048px) {

.side-info-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

  .hour-panel {
    height: 16rem;
  }


  .main-weather-window {
    margin-left: auto;   /* auto margin on left */
    margin-right: auto;  /* auto margin on right */
    width: 90%;          /* optional: shrink width for small screens */
  }

  .side-info-hikers{
    margin-left: auto;   /* auto margin on left */
    margin-right: auto;  /* auto margin on right */
    width: 90%; 
  }
}