@media (max-width: 1048px) {

.side-info-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

  .hour-panel {
    height: 16rem;
  }


  .main-weather-window {
    height:30rem;
    justify-content: center; 
    width: auto;      
  }

  .side-info-hikers, .side-info-hikers2{
    width: 90%; 
  }

.weather-layout {
  grid-template-columns: 1fr;
  justify-items: center;  
}

}